<!DOCTYPE html>
<html>

<!-- Head -->
<head>
</head>

<!-- Body -->
<body>

<p><a href="/recipes/all">HOME</a></p>


<h1>{{.Title}}</h1>
<p>(por {{.Author.Name}}, em {{.PublishedDate}})</p>
<p>Categoria: {{.Category.Name}}</p>
<p>Dificuldade: {{.Difficulty.Name}}</p>

{{if .ImageURL}}
    <img src="{{.ImageURL}}" height="150px"></img>
{{end}}

<p>[<a href="/recipes/edit/{{.ID}}">editar</a>]</p>

<div>{{printf "%s" .Description}}</div>

<h3>Ingredientes:</h3>
<ul>
    {{range .Ingredients}}
    <li>{{.}}</li>
    {{end}}
</ul>

<h3>Passos:</h3>
<ol>
    {{range .Steps}}
    <li>{{.}}</li>
    {{end}}
</ol>

<br><br>
<p>[<a href="/recipes/delete/{{.ID}}">Remover receita</a>]</p>

</body>